*               text eol=lf
.*              text eol=lf

*.png           binary

*.md            diff=markdown
*.mrconfig      linguist-language=ini diff=ini
*.envrc         linguist-vendored=true
*.1             linguist-documentation=true

/.github        export-ignore
/docs           export-ignore
/CHANGELOG.md   export-ignore
